<mat-dialog-content>
    <div class="dialog-cntr">
      
      <div class="dialog-header">
        <mat-icon>task_alt</mat-icon>
        <label>Nowy harmonogram</label>
        <button mat-icon-button (click)="closeDialog()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Tytuł</mat-label>
        <input matInput [(ngModel)]="scheduleTitle" name="scheduleTitle" required #title="ngModel">
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
          Tytuł jest wymagany.
        </mat-error>
      </mat-form-field>
      
      <div class="schedule-container">
        <ng-container *ngFor="let item of details">
            <div class="schedule-detail-object">
                <label>+{{ item.daysOffsetFromPrevTask }} dni</label>
                <label> {{ item.taskType.name }}</label>
              </div>
        </ng-container>
      </div>

      <div class="new-schedule-details-container">
        <mat-form-field appearance="fill">
            <mat-label>Dni od pop. zadania</mat-label>
            <input 
              matInput 
              [(ngModel)]="offset" 
              name="offset" 
              type="number" 
              required 
              #title="ngModel" 
              [min]="0" 
              [max]="60" 
              [step]="1" 
              placeholder="Wprowadź liczbę od 0 do 60" 
            />
            <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
              Tytuł musi być liczbą od 0 do 60.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Typ zadania</mat-label>
            <mat-select [(ngModel)]="selectedTaskType" name="selectedTaskType" required>
              <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
                {{ taskType.name }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-icon-button (click)="addDetail()">
            <mat-icon>add</mat-icon>
        </button>

      </div>

      <button mat-raised-button color="primary" (click)="submit()">
        Utwórz harmonogram
    </button>

    </div>
</mat-dialog-content>
