<mat-dialog-content>
    <div class="dialog-content">
        <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
            <mat-form-field appearance="fill">
            <mat-label>Obecne hasło</mat-label>
            <input matInput [(ngModel)]="password" name="password" type="password" required />
            </mat-form-field>
        
            <mat-form-field appearance="fill">
            <mat-label>Nowe hasło</mat-label>
            <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" required minlength="6" />
            </mat-form-field>
        
            <mat-form-field appearance="fill">
            <mat-label>Powtórz nowe hasło</mat-label>
            <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required [ngModelOptions]="{standalone: true}" />
            <mat-error *ngIf="newPassword !== confirmPassword">Hasła muszą być identyczne.</mat-error>
            </mat-form-field>
        
            <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid || newPassword !== confirmPassword">Zmień hasło</button>
            </div>
        </form>
    </div>
</mat-dialog-content>