.data-cntr {
    margin-top: 10px;
}

mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button[mat-button]:disabled {
    background-color: #f0f0f0;
    color: #888;
}