<div class="main-container">
    <div class="section-container">
        <div class="dialog-header">
            <mat-icon>egg</mat-icon>
            <label>Inkubatory lęgowe</label>
        </div>
        <div class="tile-container">
            <a [routerLink]="'/incubators'" [queryParams]="{type: 'nesting', id: incubator.id}" *ngFor="let incubator of nestingIncubatorsAll">
                <div class="tile">
                    {{ incubator.humanReadableId }}
                </div>
            </a>
        </div>
    </div> 

    <div class="section-container">
        <div class="tile-container">
            <div class="dialog-header">
                <mat-icon>egg</mat-icon>
                <label>Inkubatory klujnikowe</label>
            </div>
            <a [routerLink]="'/incubators'" [queryParams]="{type: 'hatching', id: incubator.id}" *ngFor="let incubator of hatchingIncubatorsAll">
                <div class="tile">
                    {{ incubator.humanReadableId }}
                </div>
            </a>
        </div>
    </div>
</div>
