.bg-container {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5vh;
    
}

.filter-cntr {
    margin: 0 10px auto 10px;
    padding: 20px;
    width: 900px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.filter-header-cntr {
    font-size: large;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
    
.filter-header-cntr span {
    margin-left: 10px;
}

.filter-body-cntr {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.main-tasks-cntr {
    margin: 20px 10px auto 10px;
    padding: 20px;
    width: 900px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    overflow-x: auto;
}

.main-task-header-cntr {
    font-size: large;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-task-header-cntr label{
    margin-left: 10px;
}

.main-task-header-cntr button{
    margin-left: auto;
}

.paginator-cntr {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

table {
    width: 100%;
}
  
tr.example-detail-row {
    height: 0;
}
  
tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
  
.example-element-row td {
    border-bottom-width: 0;
}
  
.example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1300px) {
    .filter-cntr {
        width: 80vw;
    }
    .main-tasks-cntr {
        width: 80vw;
    }
    .bg-container {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}
