
.bg-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*------ Admin Info ---------*/

.admin-info {
    margin: auto 10px auto 10px;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.admin-details {
    display: flex;
    align-items: center;
}
  
.admin-details #admin-name {
    font-weight: bold;
    margin-left: 10px;
}
  
.admin-details #admin-role {
    font-weight: lighter;
    margin-left: 10px;
}
  
.admin-role {
    margin-right: 20px;
}

.admin-organisation {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.admin-organisation label {
    margin-bottom: 5px;
}
  
button {
    float: right;
}

.admin-info span {
    font-weight: bold;
}



/*------ User Info ---------*/

.users-info {
    margin: auto 10px auto 10px;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.users-info-header {
    display: flex;
    align-items: center;
}

.users-info-header span {
    margin-left: 10px;
}

.users-info span {
    font-size: large;
}

.users-info mat-form-field {
    width: 100%;
    margin-top: 10px;
}

.user-panels {
    max-height: 200px;
    overflow-y: auto;
}