
<!-- <div class="bg-container">
    <mat-expansion-panel class="user-info">
        <mat-expansion-panel-header>
            <mat-panel-title class="user-details">
                <mat-icon>account_circle</mat-icon>
                <label>{{ userFirstName }} {{ userLastName }}</label>
            </mat-panel-title>
            <mat-panel-description class="user-role">
                <label>{{ userRole }}</label>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="user-organization">
            <span>Organizacja:</span>
            <br>
            <label>{{ userOrganisationName }}</label> 
            <br>
            <span>Regon:</span>
            <br>
            <label>{{ userOrganisationRegon }}</label> 
            <br>
            <span>Adres:</span>
            <br>
            <label [innerHTML]="userOrganisationAddress"></label> 

            <button mat-raised-button color="primary">Edytuj</button>
        </div>
    </mat-expansion-panel>
</div> -->


<div class="bg-container">

    <div class="admin-info">
        <div class="admin-info-header">
            <div class="admin-details">
                <mat-icon>account_circle</mat-icon>
                <label id="admin-name">{{ adminFirstName }} {{ adminLastName }}</label>
                <label id="admin-role">| {{ adminRole }}</label>
            </div>
        </div>
        <div class="admin-organisation">
            <span>Email:</span>
            <label>{{ adminEmail }}</label>
            <span>Organizacja:</span>
            <label>{{ adminOrganisationName }}</label> 
            <span>Regon:</span>
            <label>{{ adminOrganisationRegon }}</label> 
            <span>Adres:</span>
            <label [innerHTML]="adminOrganisationAddress"></label> 
        </div>
        <button mat-raised-button color="primary">Edytuj</button>
    </div>

    <div class="users-info">
        <mat-accordion>
            <div class="users-info-header">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>Użytkownicy</span>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Wyszukaj</mat-label>
                    <input matInput ng-model="searchText" (ngModelChange)="filterItems()" />
                </mat-form-field>
                <div>
                <mat-radio-group [(ngModel)]="userCategory">
                    <mat-radio-button value="">Wszyscy</mat-radio-button>
                    <mat-radio-button value="enabled">Aktywni</mat-radio-button>
                    <mat-radio-button value="disabled">Dezaktywowani</mat-radio-button>
                </mat-radio-group>
                </div>
            </div>
            <div class="user-panels">
                @for (item of userDetailsAll; track item.id){
                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        {{ item.firstName }}
                        </mat-panel-title>
                        <mat-panel-description>
                            Kategoria:
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    </mat-expansion-panel>
                }
            </div>
          </mat-accordion>
    </div>


</div>
