
.bg-container {
    width: 100vw;
    min-height: 100vh;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*------ Admin Info ---------*/

.admin-info {
    margin: 0 10px auto 10px;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.admin-details {
    display: flex;
    align-items: center;
}
  
.admin-details #admin-name {
    font-size: large;
    margin-left: 10px;
}
  
.admin-details #admin-role {
    font-weight: lighter;
    margin-left: 10px;
}
  
.admin-role {
    margin-right: 20px;
}

.admin-organisation {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.admin-organisation label {
    margin-bottom: 5px;
}
  
.admin-update {
    margin-top: -10px;
    float: right;
}

.admin-info span {
    font-weight: bold;
}



/*------ User Info ---------*/

.users-info {
    margin: 0 10px auto 10px;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.users-info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.users-info-header span {
    margin-left: 10px;
    font-size: medium;
}

 .users-info-header button {
    margin-left: auto;
}

.users-info mat-form-field {
    width: 100%;
    margin-top: 10px;
}

.user-panels {
    max-height: 300px;
    overflow-y: auto;
}

.user-panels mat-expansion-panel-header {
    display: flex;
    align-items: center;
}

.user-panels mat-panel-title {
    flex-grow: 2;
    white-space: normal;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-data-container {
    display: flex;
}

.users-info .user-data {
    display: flex;
    flex-direction: column;
}

.user-data label {
    margin-bottom: 5px;
}

.user-data span {
    font-weight: bold;
}

.user-options-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}



/*-----------  Equipment info ------------*/

.add-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
}

.add-equipment-button {
    float: right;
    margin: 10px 10px 10px 10px;
}

.equipment-info {
    margin: 0 10px auto 10px;
    padding: 20px;
    width: 700px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1300px) {
    .equipment-info {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 90vw;
    }
    .users-info {
        margin-top: 1em;
        width: 90vw;
    }


}
